<nav class="navbar bg-dark text-white">
    <div class="container-fluid text-center align-items-center">
        <a class="nav-link" [routerLink]="['/planning']" routerLinkActive="router-link-active">
            <i class="bi bi-calendar2-check"></i>
            <br>Plan
        </a>
        <a class="nav-link" href="#">
            <i class="bi bi-book"></i>
            <br>Recetas
        </a>
        <a class="nav-link" href="#">
            <i class="bi bi-list-check"></i>
            <br>Compra
        </a>
        <a class="nav-link" href="#">
            <i class="bi bi-person-fill"></i>
            <br>Perfil
        </a>
    </div>
</nav>