<div class="modal fade" id="newPlanningModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir planificación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancelPlanning()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <form class="mx-1 mx-md-4" [formGroup]="planningForm" (ngSubmit)="planRecipe()">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">

                                    <label class="form-label" for="date">Día</label>
                                    <input type="date" id="date" class="form-control" formControlName="date" />

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">

                                    <select class="form-select" formControlName="mealSelector">
                                        <option [ngValue]="null" disabled>Escoge el tipo de comida</option>
                                        <option value="Desayuno">Desayuno</option>
                                        <option value="Comida">Comida</option>
                                        <option value="Cena">Cena</option>
                                    </select>

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">

                                    <select class="form-select" formControlName="recipeSelector">
                                        <option [ngValue]="null" disabled>Escoge la receta deseada</option>
                                        <option *ngFor="let recipe of recipes" [ngValue]="recipe.id">{{recipe.name}}
                                        </option>
                                    </select>

                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg" data-bs-dismiss="modal"
                                    [disabled]="!planningForm.valid">Planificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="cancelPlanning()">Cancelar</button>
            </div>
        </div>
    </div>
</div>