<div class="container-fluid overflow-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10 col-lg-6 col-xl-5">

            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Planificación</p>

            <nav id="dayTab">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" role="button" (click)="previousDay()">
                            <i class=" bi bi-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item">{{dateString}}</li>
                    <li class="page-item">
                        <a class="page-link" role="button" (click)="nextDay()">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <a *ngFor="let recipe of recipes" class="animate__animated animate__bounce animate__fadeIn">
                    <div class="col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col">
                                    <img src="{{imagePath}}{{recipe.image}}" class="img-fluid rounded-start">
                                </div>
                                <div class="col-7">
                                    <div class="card-body justify-content-around">
                                        <h5 class="card-title">{{recipe.name}}</h5>
                                        <p class="card-text">{{recipe.pivot.meal}}</p>
                                        <a class="btn btn-danger" role="button" (click)="deleteRecipeFromPlan(recipe)">
                                            <i class="bi bi-trash-fill"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn mb-5">
    <a class="btn btn-floating bg-transparent text-dark" data-bs-toggle="modal" data-bs-target="#newPlanningModal"
        role="button">
        <h1><i class="bi bi-plus-circle-fill"></i></h1>
    </a>
</div>
<app-plan-recipe></app-plan-recipe>
<app-main-nav></app-main-nav>